{{ define "main" }}
	{{ "<!-- Main -->" | safeHTML }}
	<div style="background-image: url('/img/backgrounds/{{ .Params.background}}'); background-size: 100%; background-attachment: fixed; background-position: center; background-repeat: no-repeat">
		<section id="main" class="box">
	  	<header style="background-color:white">
				{{ if .Title }}
	    		<h2>{{ .Title }}</h2>
				{{ else }}
					<h2>{{ .Title }}</h2>
				{{ end }}{{/* if */}}
	  	</header>
			{{ partial "listbody" . }}
		</section>
	</div>
{{ end }}
