{{ define "main" }}
			{{ "<!-- Main -->" | safeHTML }}

			<div style="background-image: url('/img/backgrounds/{{.Params.background}}'); background-size: 100%; background-attachment: fixed; background-position: center; background-repeat: no-repeat">

				<section id="main" class="container">
					<header style= "background-color:white;">
						<h2>{{ .Params.title }}</h2>
						{{ with .Params.subtitle }}
							<p>{{ . }}</p>
						{{ end }}
					</header>

					<div class="box">
						{{ with .Params.images }}
							<span class="image featured"><img style="border: 4px solid #ffffff" src="{{ index . 0 | relURL }}" alt=""></span>
						{{ end }}
						{{ .Content }}

						{{ if .Params.tags }}
							<p>Tags:
								{{ range $index, $key:= .Params.tags }}
									{{ if $index }}, {{ end }}
									{{ if gt (len $key) 0 }}
							  		<a href="/tags/{{$key | urlize }}/">#{{ $key }}</a>
									{{ end }} {{/* if gt len */}}
								{{ end }} {{/* range */}}
						</p>
						{{ end }} {{/* if tags */}}
						<center>
							<form>
								{{ if .Params.report }} <input type="button" value="Zur Reportübersicht" onclick="window.location.href='/ueber_uns/reports'" /> {{ end }}
							</form>
						</center>
						</div>
					</div>
				</section>

				</div>
{{ end }}
